/* Customize the scrollbar */
@scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
  }
  
  @scrollbar-thumb {
    background-color: rgba(75, 85, 110, 0.8); /* Color of the scrollbar thumb */
    border-radius: 9999px; /* Rounded scrollbar thumb */
  }
  
  @scrollbar-track {
    background-color: rgba(229, 231, 235, 0.4); /* Color of the scrollbar track */
    border-radius: 9999px; /* Rounded scrollbar track */
  }